:root {
    --primary-color: #df6951;
    --secondary-color: #f1a501;
    --text-color: #181e4b;
    --background-color: #ffffff;
    --subtitle-color: #5e6282;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    margin: 0 14rem;
    line-height: 1.5;
    font-family: "Poppins", sans-serif;
    background-color: var(--background-color);
    font-weight: 400;
    font-size: 16px;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button,
input,
select,
textarea {
    font: inherit;
    color: inherit;
    border: none;
    background: none;
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
    list-style: none;
}

/* header */
header nav {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

nav div {
    display: flex;
    gap: 4rem;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 3rem;
}

nav ul li:hover {
    color: var(--primary-color);
}

.signup {
    border: 1px solid #181e4b;
    padding: 4px 10px;
    border-radius: 4px;
}

.signup:hover {
    border-color: var(--primary-color);
}

/* main */
section {
    margin: 4rem 0;
}

/* hero section */
#hero {
    display: flex;
    justify-content: space-between;
}

#hero img {
    flex-shrink: 0;
    width: 600px;
    aspect-ratio: 104/100;
}

#description {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 630px;
}

#description h1 {
    font-family: "Volkhov", sans-serif;
    font-size: 5rem;
    line-height: 1;
}

#description h2 {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: uppercase;
}
#description p {
    color: var(--subtitle-color);
}

.main-button {
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 7px 10px rgb(223, 105, 81, 0.3);
    margin-right: 2rem;
}

.cta {
    display: flex;
}

.btn {
    display: flex;
    align-items: center;
}

.rounded-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    padding: 16px;
    margin-right: 0.5rem;
    box-shadow: 0px 7px 10px rgba(223, 105, 81, 0.3);
}

.primary {
    color: white;
    background-color: var(--primary-color);
}
.secondary {
    color: white;
    background-color: var(--secondary-color);
}

.line-md--play-filled {
    display: inline-block;
    width: 24px;
    height: 24px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' fill-opacity='0' stroke='%23000' stroke-dasharray='40' stroke-dashoffset='40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M8 6l10 6l-10 6Z'%3E%3Canimate fill='freeze' attributeName='fill-opacity' begin='0.5s' dur='0.5s' values='0;1'/%3E%3Canimate fill='freeze' attributeName='stroke-dashoffset' dur='0.5s' values='40;0'/%3E%3C/path%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.decor {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -50;
}

.ellipse {
    position: absolute;
    z-index: -50;
    top: 0;
    left: 0;
}

/* Services section */
#services,
#destinations {
    text-align: center;
    margin: 10rem 0;
    position: relative;
}

h3 {
    color: var(--subtitle-color);
    font-weight: 500;
    font-size: 1.1rem;
}

h2 {
    font-weight: 700;
    font-size: 3.125rem;
    font-family: "Volkhov", sans-serif;
    margin-bottom: 4rem;
}

.list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.service-card {
    background-color: var(--background-color);
    border: 1px solid rgba(41, 41, 41, 0.1);
    width: 22%;
    padding: 2rem;
    border-radius: 36px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.9rem;
    box-shadow: 0 7px 10px rgba(41, 41, 41, 0.1);
}

.service-card img {
    max-width: 60%;
    height: 40%;
    flex-shrink: 0;
}

.service-card p {
    font-size: 0.9rem;
    color: var(--subtitle-color);
}

h4 {
    font-size: 1.2rem;
    font-weight: 600;
}

.group {
    position: absolute;
    top: -3.5rem;
    right: -8rem;
}

.rect {
    position: absolute;
    bottom: -2rem;
    left: 21.5rem;
    z-index: -50;
}

/* destinations section */
.destination-card {
    box-shadow: 0 7px 10px rgba(41, 41, 41, 0.1);
    border-radius: 20px;
    height: 23rem;
    overflow: hidden;
    position: relative;
}

.destination-card img {
    width: 100%;
    object-fit: cover;
}

.destination-info {
    position: absolute;
    bottom: 0;
    background-color: var(--background-color);
    width: 100%;
    text-align: left;
    padding: 1.5rem;
}

.destination-location {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}

.tabler--location-filled {
    display: inline-block;
    width: 20px;
    height: 20px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20.891 2.006L20.997 2l.13.008l.09.016l.123.035l.107.046l.1.057l.09.067l.082.075l.052.059l.082.116l.052.096q.07.15.09.316l.005.106q0 .113-.024.22l-.035.123l-6.532 18.077A1.55 1.55 0 0 1 14 22.32a1.55 1.55 0 0 1-1.329-.747l-.065-.127l-3.352-6.702l-6.67-3.336a1.55 1.55 0 0 1-.898-1.259L1.68 10c0-.56.301-1.072.841-1.37l.14-.07l18.017-6.506l.106-.03l.108-.018z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    margin-right: 0.7rem;
}

.khalouta {
    position: absolute;
    right: -4.2rem;
    /* right: 0; */
    bottom: 0;
    z-index: -50;
}

/* booking */
#booking,
#testimonials {
    align-items: center;
}

.booking-desc,
.testimonials-desc {
    max-width: 40%;
}

.booking-desc ul {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
}

.booking-desc ul li {
    display: flex;
    gap: 1rem;
}

.booking-desc ul li h4 {
    font-size: 0.9rem;
    font-weight: 600;
}

.booking-desc ul li p {
    font-size: 0.9rem;
    color: var(--subtitle-color);
}

/* newsletter */
#newsletter {
    position: relative;
}
#newsletter div {
    background-color: #dfd7f9;
    border-radius: 90px 20px 20px 20px;
    text-align: center;
    padding: 7rem;
    position: relative;
}

#newsletter div p {
    font-size: 2rem;
    font-weight: 600;
    margin: 4rem auto;
    max-width: 80%;
}

input[type="email"] {
    background-color: var(--background-color);
    padding: 0.7rem 2rem;
    border-radius: 10px;
    margin-right: 0.8rem;
}
input[type="submit"] {
    padding: 0.7rem 2rem;
    border-radius: 10px;
}

.spiral {
    position: absolute;
    bottom: 0;
    left: 0;
}
.spiral2 {
    position: absolute;
    top: 0;
    right: 0;
}

.group2 {
    position: absolute;
    bottom: -4rem;
    right: -5.4rem;
    transform: rotate(90deg);
    z-index: -50;
}

/* responsive  */
/* Mobile (up to 767px) */
@media (max-width: 767px) {
    body {
        margin: 0 1rem;
        font-size: 12px;
    }

    nav ul {
        display: none;
        flex-direction: column;
        gap: 1.5rem;
    }

    #hero {
        flex-direction: column;
        text-align: center;
        gap: 3rem;
    }

    #description {
        gap: 1.5rem;
    }

    #description h1 {
        font-size: 2.5rem;
    }
    #description h2 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    #description img {
        width: 100%;
        aspect-ratio: auto;
    }

    .cta {
        justify-content: center;
    }

    /* services */
    #services {
        gap: 0.2rem;
    }
    .service-card {
        width: 47%;
        margin: 0 0.2rem 1rem 0.2rem;
    }

    /* destinations */
    #destinations .list {
        gap: 1.5rem;
    }
    .destination-card {
        width: 100%;
        height: 28rem;
    }

    /* booking */
    #booking,
    #testimonials {
        flex-direction: column;
    }

    .booking-desc,
    .testimonials-desc {
        max-width: 100%;
    }

    /* newsletter */
    #newsletter div {
        padding: 3rem;
    }

    #newsletter div p {
        font-size: large;
        margin-bottom: 1rem;
    }
    form {
        flex-direction: column;
        align-items: center;
    }
    input[type="email"] {
        width: 100%;
    }
    input[type="submit"] {
        margin: 2rem auto;
    }
}

/* Tablet (768px to 1023px) */
@media (min-width: 768px) and (max-width: 1023px) {
}

/* Desktop (1024px and above) */
@media (min-width: 1024px) {
}
